{% assign t = page.schema_type | default: "HowTo" %}

{% if t == "HowTo" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HowTo",
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }}
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TechArticle",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }}
}
</script>
{% endif %}