
<!--
  Assign navigation data for header navs
  (Moved out of top-level to avoid doctype error)
-->
{% assign primary_nav = site.data.navigation.primary %}
{% assign current_url = page.url | default: '' %}

<header class="site-header">
  <div class="site-header-inner">

    {% include nav-drawer.html %}

    <div class="site-branding">
      {% include logo-header.html symbol="logo-full" svg_class="ts-logo ts-logo--header" %}
    </div>

    <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="mobile-nav" aria-label="Open navigation menu" aria-haspopup="true" aria-controls="mobile-nav" aria-pressed="false">
      <span class="nav-toggle-icon" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <span class="sr-only">Menu</span>
    </button>
  </div>


</header>

