/* Error: It's not clear which file to import. Found:
 *   _sass\30-components\_animations.scss
 *   _sass\30-components\animations.scss
 *    ,
 * 38 | @use "30-components/animations" as *;
 *    | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   assets\css\main.scss 38:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   _sass\\30-components\\_animations.scss\a   _sass\\30-components\\animations.scss\a    \2577 \a 38 \2502  @use \"30-components/animations\" as *;\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   assets\\css\\main.scss 38:1  root stylesheet";
}
